.DS_Store
aclocal.m4
autom4te.cache
compile
config.guess
config.*
configure
depcomp
*/.DS_Store
*/.deps
*/.libs
*/igetnonce
*/igetnonce.exe
*/*.a
*/*.o
*/*.la
*/*.lo
*/Makefile
*/Makefile.in
install-sh
libtool
ltmain.sh
m4
Makefile
Makefile.in
missing
stamp-h1
